@media screen and (min-width: 1200px) {
  .header-btn,
  .mobile-menu {
    display: none;
  }
  .container {
    width: 1158px;
  }
  :root {
    --max-width-section: 1440px;
  }

  /* --------------------COMPONENTS-- */
  .logo {
    line-height: calc(24 / 18);
  }
  .logo-theme-light {
    margin-right: 76px;
  }
  .active {
    color: var(--akcent-color);
  }
  /*font-size: 16px;*/
  /*--------------------------------------HEADER------*/
  .header-container {
    padding-bottom: 28px;
    justify-content: start;
  }
  .header-navigation {
    margin-bottom: 0;
  }
  .header-link {
    display: block;
    font-weight: 500;
    line-height: var(--typical-lh);
    color: var(--main-title-color);
    transition-property: color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .header-list-item .active {
    position: relative;
  }
  /* .header-list-item {
  position: relative;
  } */
  .header-list-item .active::after {
    position: absolute;
    left: 0;
    bottom: -28px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--theme-dark);
    border-radius: 2px;
  }
  .section-description {
    font-weight: 400;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--akcent-color);
    outline: none;
  }
  .header-address {
    margin-left: auto;
  }
  .header-address-list {
    display: flex;
    gap: 40px;
  }
  /*(Або варіант відступу емейл та телеф: 
  .header-address-item:not(:last-child) {
  margin-right: 40px;  або
  .header-list .header-list-item + .header-list-item {
  margin-left: 40px;}--)*/
  .header-mail,
  .header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: var(--typical-ls);
    color: var(--second-title-color);
    transition-property: color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .header-mail,
  .header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    color: var(--second-title-color);
    letter-spacing: var(--typical-ls);
    margin-bottom: 0;
    display: inline;
  }
  .header-mail:hover,
  .header-mail:focus {
    color: var(--akcent-color);
    outline: none;
  }
  .header-tel:hover,
  .header-tel:focus {
    color: var(--akcent-color);
    outline: none;
  }
  /* -------------------------------Hero-- */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-heder-desk-x1.jpg);
    max-width: var(--max-width-section);
  }
  /* Медіаправила для зобрежень desctop 2х */
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-heder-desk-x2.jpg);
    }
  }
  .hero-box {
    max-width: 496px;
    padding: 0;
  }
  .hero-title {
    margin-bottom: 48px;
    font-size: 56px;
    line-height: calc(60 / 56);
  }
  .hero-btn {
    transition-property: background-color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--akcent-color);
    outline: none;
  }

  /*-----------------------------------Concept--*/
  .concept {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .concept-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  /*( Як варіант замість gap:
  .concept-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
  }
  .concept-item:nth-child(4) {
  margin-right: 0;
  } */

  .concept-item {
    width: calc((100% - 72px) / 4);
  }
  .concept-item::before {
    display: block;
    content: '';
    height: 112px;
    border-radius: 4px;
    background-color: var(--logo-color-light);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 64px;
    margin-bottom: 8px;
  }
  .icon-strategy::before {
    background-image: url(../images/antenna.svg);
  }
  .icon-punctuality::before {
    background-image: url(../images/clock.svg);
  }
  .icon-diligence::before {
    background-image: url(../images/diagram.svg);
  }
  .icon-technologies::before {
    background-image: url(../images/astronaut.svg);
  }
  .concept-item .section-heading {
    font-size: 36px;
    line-height: calc(40 / 36);
    font-weight: 700;
    text-align: left;
  }

  /*--------------------------------------services--*/
  .services {
    padding-bottom: 120px;
  }
  .services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .services-title {
    margin-bottom: 72px;
  }
  .services-img {
    border: 1px solid var(--text-color-light);
    width: calc((100% - 48px - 0px) / 3);
  }

  /*----------------------------------------TEAM----*/
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: var(--max-width-section);
  }
  .team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 100%;
  }
  .team-person {
    max-width: calc((100% - 72px) / 4);
  }
  .team-person:not(:last-child) {
    margin-bottom: 0;
  }
  .social-list .social-link {
    transition-property: background-color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  /*(можна виконати як background-image у посиланні 
  social-link задавши посиланню висоту і ширину,
  але не буде динамічного кольору*/

  .social-link:hover,
  .social-link:focus {
    background-color: var(--akcent-color);
    outline: none;
  }
  /*==========================================/TEAM===*/
  /* ------------------------------Customers-- */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
    transition-property: border-color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .customers-container {
    gap: 24px;
    margin-left: 0;
    margin-top: 0;
  }
  .customers-item {
    margin-left: 0;
    margin-top: 0;
  }
  .customers-logo {
    width: 168px;
    transition-property: border-color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .customers-logo:hover,
  .customers-logo:focus {
    border-color: var(--akcent-color);
    outline: none;
  }
  .customers-img {
    width: 104px;
    transition-property: fill;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }

  .customers-logo:hover .customers-img,
  .customers-logo:focus .customers-img {
    fill: var(--akcent-color);
  }

  /* ---------------------------Footer-- */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-logo-box {
    margin-right: 120px;
    text-align: left;
  }
  /*(display: inline-block;)*/

  .footer-social-box {
    margin-top: 0;
    margin-right: 80px;
  }
  /*(display: inline-block;
  max-width: 208px;
  vertical-align: top;)*/
  .footer-subscribe {
    margin-top: 0;
    flex-grow: 1;
  }
  .footer-heading {
    text-align: left;
  }
  .footer-social-list .social-link {
    transition-property: background-color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .footer-social-list .social-link:hover,
  .footer-social-list .social-link:focus {
    background-color: #31d0aa;
    outline: none;
  }
  .footer-subscribe-box {
    display: flex;
    gap: 24px;
  }
  .btn-subscribe {
    margin-top: 0;
  }
  .btn-subscribe:hover,
  .btn-subscribe:focus {
    background-color: var(--akcent-color);
    outline: none;
  }

  /*----------------------------------------Modal--*/
  .modal {
    max-width: 408px;
    min-height: 584px;
  }
  .btn-modal-close:focus,
  .btn-modal-close:hover {
    background: var(--akcent-color);
    outline: none;
  }
  .btn-modal-close:focus .modal-close-icon,
  .btn-modal-close:hover .modal-close-icon {
    fill: var(--color-theme-dark);
  }
  /*-----------------------------------------Modal-Form--*/
  .btn-modal-send:hover,
  .btn-modal-send:focus {
    background-color: var(--akcent-color);
  }

  /*--------------------------------------PORTFOLIO---*/
  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .filter {
    margin-bottom: 72px;
    /* display: flex; */
    gap: 24px;
    justify-content: center;
  }
  .filter-btn {
    padding: 12px 24px;

    color: var(--theme-dark);
    font-family: inherit;
    font-size: 16px;
    background-color: var(--logo-color-light);
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: var(--typical-lh);
    border: 1px solid var(--text-color-light);
    border-radius: 4px;

    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .filter-btn:hover,
  .filter-btn:focus {
    background-color: var(--akcent-color);
    color: var(--color-theme-dark);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .examples {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .example {
    width: calc((100% - 48px) / 3);
  }
  .example:not(:nth-child(-n + 3)) {
    margin-top: 24px;
  }
  .example-link {
    display: block;

    transition-property: box-shadow;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .example-link:hover,
  .example-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .example-img {
    width: 100%;
  }

  .exam-description {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;

    border-bottom: 1px solid var(--text-color-light);
    border-left: 1px solid var(--text-color-light);
    border-right: 1px solid var(--text-color-light);
  }

  /*----------------------------------------Overlay--*/
  .example-link-overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;

    transform: translate(0, 100%);
    transition: transform var(--h-timing-duration) var(--h-timing-function);

    font-weight: 400;
    font-size: 16px;
    line-height: var(--typical-lh);
    letter-spacing: var(--typical-ls);
    color: var(--logo-color-light);
    background: var(--theme-dark);

    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .example-link:hover .overlay,
  .example-link:focus .overlay {
    transform: translate(0, 0);
  }
}
