:root {
  --main-title-color: #2e2f42;
  --second-title-color: #434455;
  --akcent-color: #404bbf;
  --color-theme-dark: #ffffff;
  --theme-dark: #4d5ae5;
  --logo-color-light: #f4f4fd;
  --text-color-light: #e7e9fc;
  --typical-lh: 1.5;
  --typical-ls: 0.02em;
  --custommers-color-norm: #8e8f99;
  --max-width-section: 448px;
  --h-timing-duration: 250ms;
  --h-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
/*-----------------------------Reset settings--*/
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}

/*---------------------------------COMPONENTS--*/
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.logo-theme-light {
  color: var(--main-title-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
span.akcent {
  color: var(--theme-dark);
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.section-title {
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: var(--typical-ls);
  color: var(--main-title-color);
  text-align: center;
}
.section-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: var(--typical-ls);
  color: var(--main-title-color);
  margin-bottom: 8px;
  text-align: center;
}
.section-description {
  font-weight: 500;
  line-height: var(--typical-lh);
  letter-spacing: var(--typical-ls);
  color: var(--second-title-color);
}

.logo-theme-dark {
  color: var(--logo-color-light);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.no-scroll {
  overflow: hidden;
}
/*==================================\COMPONENTS=====*/
/*--------------------------------------HEADER------*/
.header {
  border-bottom: 1px solid var(--text-color-light);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
/*=================================/HEADER======*/

/*---------------------------------------HERO----*/
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: var(--main-title-color);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: var(--max-width-section);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-heder-mob-x1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Медіаправила для зобрежень mobile 2х */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url(../images/people-office-heder-mob-x2.jpg);
  }
}

.hero-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
}
.hero-title {
  margin-bottom: 72px;
  font-family: 'Roboto';
  font-size: 32px;
  line-height: 1.11;
  letter-spacing: var(--typical-ls);
  color: var(--color-theme-dark);
}
.hero-btn {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: var(--typical-lh);
  letter-spacing: 0.04em;
  color: var(--color-theme-dark);
  background-color: var(--theme-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*================================/HERO=======*/

/*-----------------------------------Concept--*/
.concept {
  padding-top: 96px;
  padding-bottom: 96px;
}

/*--------------------------------------services-
секція відсутня в мобілці--*/

/*----------------------------------------TEAM----*/
.team {
  padding-top: 96px;
  padding-bottom: 96px;
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--logo-color-light);
}
.team-title {
  margin-bottom: 72px;
}
.team-container {
  max-width: 264px;
  margin-right: auto;
  margin-left: auto;
}
.team-person {
  max-width: 100%;
  display: block;
  margin-bottom: 72px;
}
/*(text-align: center;)*/
.team-percon-img {
  width: 100%;
}
.team-person-info {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--color-theme-dark);
  text-align: center;
}
.team-person-text {
  margin-bottom: 8px;
}

.social-list .social-link {
  background-color: var(--theme-dark);
}

/*можна виконати як background-image у посиланні 
social-link задавши посиланню висоту і ширину,
 але не буде динамічного кольору*/

/*==========================================/TEAM===*/
/*------------------------------------------Customers--*/
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-title {
  margin-bottom: 72px;
}
.customers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -72px;
  margin-left: -16px;
}
/*justify-content: center;*/
.customers-item {
  margin-top: 72px;
  margin-left: 16px;
}
.customers-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  border: 1px solid var(--custommers-color-norm);
  border-radius: 4px;
}

.customers-img {
  width: 110px;
  height: 56px;
  fill: var(--custommers-color-norm);
}

/*------------------------------------------FOOTER--*/
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  max-width: var(--max-width-section);
  margin-right: auto;
  margin-left: auto;
  background-color: var(--main-title-color);
}
.footer-text {
  margin-top: 16px;
  line-height: var(--typical-lh);
  letter-spacing: var(--typical-ls);
  color: var(--text-color-light);
  max-width: 268px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.footer-logo-box {
  text-align: center;
}
.footer-social-box {
  margin-top: 72px;
  text-align: center;
}
/*(display: inline-block;
  max-width: 208px;
  vertical-align: top;)*/
.footer-subscribe {
  margin-top: 72px;
}
.footer-heading {
  font-weight: 500;
  line-height: var(--typical-lh);
  letter-spacing: var(--typical-ls);
  color: var(--color-theme-dark);
  text-align: center;
}
.footer-social-list {
  list-style: none;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 16px;
}
.footer-social-list .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-subscribe-box {
  margin-top: 16px;
}

.subscribe-input {
  width: 100%;
  height: 40px;
  color: var(--color-theme-dark);
  background-color: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  display: flex;
  gap: 16px;
  width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: var(--typical-lh);
  letter-spacing: 0.04em;
  color: var(--color-theme-dark);
  background: var(--theme-dark);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-style: none;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color var(--h-timing-duration) var(--h-timing-function);
}

/*(box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);)*/
.btn-subscribe::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-color: inherit;
  background-image: url(../images/futer-send-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
/*=========================================/FOOTER==*/
/*--------------------------------------PORTFOLIO---*/
.header-portfolio {
  border: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;
}
.filter {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: start;
  margin-top: -8px;
}
.filter-component {
  margin-top: 8px;
}
.filter-btn {
  padding: 12px 24px;

  color: var(--theme-dark);
  font-family: inherit;
  font-size: 16px;
  background-color: var(--logo-color-light);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: var(--typical-lh);
  border: 1px solid var(--text-color-light);
  border-radius: 4px;

  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: var(--h-timing-duration);
  transition-timing-function: var(--h-timing-function);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--akcent-color);
  color: var(--color-theme-dark);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.example {
  width: 100%;
  background: var(--color-theme-dark);
}
.example:not(:nth-child(-n + 3)) {
  margin-top: 24px;
}
.example-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--h-timing-duration);
  transition-timing-function: var(--h-timing-function);
}
.example-link:hover,
.example-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.example-img {
  width: 100%;
}

.exam-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;

  border-bottom: 1px solid var(--text-color-light);
  border-left: 1px solid var(--text-color-light);
  border-right: 1px solid var(--text-color-light);
}
.exam-description .section-heading {
  text-align: left;
}
/*----------------------------------------Overlay--*/
.example-link-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;

  transform: translate(0, 100%);
  transition: transform var(--h-timing-duration) var(--h-timing-function);

  font-weight: 400;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: var(--typical-ls);
  color: var(--logo-color-light);
  background: var(--theme-dark);

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
}
.example-link:hover .overlay,
.example-link:focus .overlay {
  transform: translate(0, 0);
}

/*----------------------------------------Modal--*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms linear, visibility 300ms linear;
  overflow-y: auto;
}
.modal {
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  transition: transform 300ms linear;
  width: 100%;
  max-width: 392px;
  min-height: 586px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-top: 24px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 24px;
  overflow: auto;
}

/*(--Стан схованої модалки:--*/

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.btn-modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--text-color-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-bottom: 24px;
  padding: 0;
  transition: background var(--h-timing-duration) var(--h-timing-function);
}
.modal-close-icon {
  width: 8px;
  height: 8px;
  transition: fill var(--h-timing-duration) var(--h-timing-function);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*(--замість is-hidden можна display:none,
але він не анімується*/

/*-----------------------------------------Modal-Form--*/
.modal-title {
  font-weight: 500;
  line-height: var(--typical-lh);
  letter-spacing: var(--typical-ls);
  color: var(--main-title-color);
  margin-bottom: 16px;
  text-align: center;
}
.modal-field-label {
  display: block;
  margin-bottom: 8px;
}
.modal-input-text {
  display: block;

  font-size: 12px;
  line-height: 1.33;
  color: var(--custommers-color-norm);
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-input-wrap-span {
  position: relative;
  display: block;
}
.modal-input-wrap-div {
  position: relative;
  margin-bottom: 8px;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: border-color var(--h-timing-duration);
}
.modal-input:focus {
  outline: none;
  border-color: var(--theme-dark);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--theme-dark);
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translatey(-50%);
  transition: background-color var(--h-timing-duration) var(--h-timing-function);
}
.pers {
  width: 18px;
  height: 18px;
}
.phone,
.email {
  width: 18px;
  height: 24px;
}
.modal-field {
  display: block;
  margin-bottom: 16px;
}
.btn-modal-send {
  min-width: 169px;
  height: 56px;
  background: var(--theme-dark);
  font-weight: 500;
  line-height: var(--typical-lh);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  color: var(--color-theme-dark);
  letter-spacing: 0.04em;
  padding-left: 16px;
  padding-right: 16px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--h-timing-duration) var(--h-timing-function);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition: border-color var(--h-timing-duration);
  display: block;
}
/*(--Зміна властивостей текста placeholder--*/
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.33;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--theme-dark);
  letter-spacing: 0.04em;
}

.modal-form-check-desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}
/*(--Створення пробілу (коли схлопнулись флекс елементи з текстом)
&nbsp - це оригінальний пробіл від браузера--*/
.policy-link {
  color: var(--theme-dark);
}
.modal-form-check-desc::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--main-title-color);
  border-radius: 2px;
  margin-right: 8px;
  display: block;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--akcent-color);
  border: 1.25px solid var(--akcent-color);
  border-radius: 2px;
  background-image: url(../images/modal-sign-mark.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/*(--Сховати оригінальний чекбокс - додати йому клас --*/
/*(--Фокус на чекбокс - (має бути на інтерактивних елементах) -
на бефор повісити фокус не можна. Робимо фейковий фокус--*/

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: none;
  border-color: var(--theme-dark);
}

/*(--інший варіант фейкового фокусу - створити лейбл, вставити 
svg іконку з опасіті 0, і при чек змінювати опасіті на 1--*/

/* ----ФОНОВІ ЗОБРАЖЕННЯ- через медіаправила- */
/* ----КОНТЕКСТОВІ ЗОБРАЖЕННЯ- в html через - srcset */
