@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-btn,
  .mobile-menu,
  .services {
    display: none;
  }
  :root {
    --max-width-section: 768px;
  }

  .container {
    width: 766px;
  }
  .header-container {
    padding-bottom: 12px;
  }
  .header-navigation {
    margin-bottom: 10px;
  }
  .logo-theme-light {
    margin-bottom: 12px;
  }
  .active {
    color: var(--akcent-color);
  }

  /*--------------------------------------HEADER------*/
  .header-link {
    display: block;
    font-weight: 500;
    line-height: var(--typical-lh);
    color: var(--main-title-color);
    transition-property: color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .header-list-item .active {
    position: relative;
  }
  .header-list-item .active::after {
    position: absolute;
    left: 0;
    bottom: -24px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--theme-dark);
    border-radius: 2px;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-link:focus {
    color: var(--akcent-color);
    outline: none;
  }
  .header-mail,
  .header-tel {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: var(--second-title-color);
    letter-spacing: 0.04em;
  }
  .header-mail {
    display: block;
    margin-bottom: 6px;
  }
  .header-mail:focus,
  .header-tel:focus {
    color: var(--akcent-color);
    outline: none;
  }
  /* -------------------------------Hero-- */
  .hero {
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-heder-tabl-x1.jpg);
    max-width: var(--max-width-section);
  }
  /* Медіаправила для зобрежень tablet 2х */
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: url(../images/people-office-heder-tabl-x2.jpg);
    }
  }
  .hero-box {
    max-width: 496px;
    padding: 0;
  }
  .hero-title {
    margin-bottom: 40px;
    font-size: 56px;
    line-height: calc(60 / 56);
  }
  .hero-btn {
    transition-property: background-color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .hero-btn:focus {
    background-color: var(--akcent-color);
    outline: none;
  }
  /* -------------------------Concept---- */
  .concept-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -72px;
    margin-left: -24px;
  }
  .concept-item {
    width: calc((100% - 48px) / 2);
    margin-left: 24px;
    margin-top: 72px;
  }
  .concept-item .section-heading {
    font-size: 36px;
    line-height: calc(40 / 36);
    font-weight: 700;
  }
  /*--------------------------------------services-
   секція відсутня в планшетні--*/

  /* --------------------------TEAM-- */
  .team {
    max-width: var(--max-width-section);
  }
  .team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 554px;
    margin-top: -40px;
  }
  .team-person {
    max-width: calc((100% -24px) / 2);
    margin-top: 40px;
    margin-bottom: 0;
  }
  .social-list .social-link {
    transition-property: background-color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .social-link:focus {
    background-color: var(--akcent-color);
    outline: none;
  }

  /* ----------------------------Customers */
  .customers-logo {
    width: 168px;
    transition-property: border-color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .customers-container {
    margin-left: -24px;
  }
  .customers-item {
    margin-left: 24px;
  }
  .customers-logo:focus {
    border-color: var(--akcent-color);
    outline: none;
  }
  .customers-img {
    width: 104px;
    transition-property: fill;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .customers-logo:focus .customers-img {
    fill: var(--akcent-color);
    outline: none;
  }

  /* ----------------------Footer-- */
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
  }
  .footer-logo-box {
    margin-right: 24px;
    text-align: left;
  }
  .footer-social-box {
    margin-top: 0;
    text-align: center;
    margin-right: 80px;
  }
  .footer-subscribe {
    margin-top: 72px;
  }
  .footer-heading {
    text-align: left;
  }
  .footer-social-list .social-link {
    transition-property: background-color;
    transition-duration: var(--h-timing-duration);
    transition-timing-function: var(--h-timing-function);
  }
  .footer-social-list .social-link:focus {
    background-color: #31d0aa;
  }
  .footer-subscribe-box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
  }

  .btn-subscribe {
    margin-top: 0;
  }

  .btn-subscribe:focus {
    background-color: var(--akcent-color);
    outline: none;
  }

  /*--------------------------------------PORTFOLIO---*/
  /*----------------------------------------Overlay--*/
  /*----------------------------------------Modal--*/
  .modal {
    max-width: 408px;
  }
  .btn-modal-close:focus {
    background: var(--akcent-color);
  }
  .btn-modal-close:focus .modal-close-icon {
    fill: var(--color-theme-dark);
  }
  /*-----------------------------------------Modal-Form--*/
  .btn-modal-send:focus {
    background-color: var(--akcent-color);
  }
}
